<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/Hui_3.2/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="~/Hui_3.2/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="~/Hui_3.2/css/animate.min.css" rel="stylesheet">
    <link href="~/Hui_3.2/css/style.min.css?v=3.2.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="~/Hui_3.2/js/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Hui_3.2/js/bootstrap.min.js"></script>
    <script src="~/Hui_3.2/js/content.min.js"></script>
    <script src="~/Hui_3.2/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Hui_3.2/js/plugins/validate/messages_zh.min.js"></script>
    <script src="~/Hui_3.2/js/plugins/layer/layer.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <!--[if lt IE 8]>
    <script>
        alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->
</head>
@RenderBody()
</html>
