@{
    ViewBag.Title = "主页";
}
<body>
    <form id="form1" runat="server" class="gray-bg" style="padding:20px;">
        <div style="margin-top:150px; text-align:center;">
            <h1 class="logo-name" style="font-size:88px;">Welcome To FreeMvc</h1>
            <h1 class="logo-name" style="font-size:88px;">石头小神</h1>
        </div>
    </form>
</body>
